<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="showAbout()"> About </ion-button>
    </ion-buttons>
    <ion-title>Tulbagh</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="relative">
    <img src="assets/img/tulbagh.jpg" />
    <ion-toolbar class="banner absolute bottom-1.5">
      <ion-buttons slot="start">
        <ion-button color="white" (click)="goTo('paarl-paarl')">
          <ion-icon slot="icon-only" name="alert-circle-outline"> </ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="white" (click)="share()">
          <ion-icon slot="icon-only" name="share-social-outline"> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-toolbar color="primary">
    <ion-title>Tulbagh Tourism</ion-title>
  </ion-toolbar>
  <app-accordion
    [blogs]="blogs"
    [events]="events"
    [photos]="photos"
  ></app-accordion>
</ion-content>
