<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-button (click)="showAbout()">
        <ion-icon slot="icon-only" name="alert-circle-outline"> </ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>Tulbagh</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative">
    <img src="assets/img/Paarl mountain.png" class="banner" />
    <ion-toolbar class="banner absolute bottom-1.5">
      <ion-buttons slot="start">
        <ion-button color="white">
          <ion-icon slot="icon-only" name="alert-circle-outline"> </ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="white">
          <ion-icon slot="icon-only" name="share-social-outline"> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <ion-toolbar color="primary">
    <ion-title>Tulbagh Tourism</ion-title>
  </ion-toolbar>
  <!-- <ion-accordion-group>
    <ion-accordion value="blog">
      <ion-item slot="header">
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Blog</ion-label>
      </ion-item>

      <div slot="content">
        <swiper [slidesPerView]="1.5">
          <ng-template swiperSlide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card class="ion-no-margin">
                    <img src="assets/images/mountain.jpg" />
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-template>
        </swiper>
      </div>
    </ion-accordion>
    <ion-accordion value="Gallery">
      <ion-item slot="header">
        <ion-icon name="images-outline" slot="start"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-item>

      <div slot="content">
        <swiper [slidesPerView]="1.5">
          <ng-template swiperSlide>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card class="ion-no-margin">
                    <img src="assets/img/Paarl mountain.png" />
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-template>
        </swiper>
      </div>
    </ion-accordion>
    <ion-accordion value="Events">
      <ion-item slot="header">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-item>

      <div slot="content" class="p-4">No scheduled events</div>
    </ion-accordion>
  </ion-accordion-group> -->
</ion-content>
