<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Liked</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-chip slot="start">
      <ion-icon name="funnel"></ion-icon>
      <ion-label>Filter</ion-label>
    </ion-chip>
    <ion-chip slot="start">
      <ion-icon name="swap-vertical"></ion-icon>
      <ion-label>Sort</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let profile of likedQuery.selectAll() | async">
      <ion-col>
        <ion-card class="ion-no-margin">
          <img [src]="profile?.image200Url" width="100%" />
          <ion-item lines="none">
            <ion-label>{{profile?.title}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
