<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Promotions</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-chip slot="start">
      <ion-icon name="funnel"></ion-icon>
      <ion-label>Filter</ion-label>
    </ion-chip>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid *ngIf="promotionQuery.selectAll() | async as blogs">
    <ion-row *ngFor="let blog of blogs">
      <ion-col>
        <ion-card class="ion-no-margin">
          <app-blog-item [blog]="blog" [color]="'primary'"></app-blog-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
