ion-toolbar {
  --ion-background-color: #174060;
  --color: white;
}

.title {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}

img {
  width: 300px;
  margin: 10px 0;
}
