<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-icon name="menu" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">Coming up!</ion-title>

  <ion-grid>
      <ion-row class="event">
      <ion-col>
      <ion-icon size="large" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="5">
          Family Picnic
      </ion-col>
      <ion-col size="5">
        19:00 - 21:00
      </ion-col>
    </ion-row>
    <ion-row class="event">
      <ion-col>
      <ion-icon size="large" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="5">Park Run 5km</ion-col>
      <ion-col size="5">
        08:30 - 12:00
      </ion-col>
    </ion-row>
    <ion-row class="event">
      <ion-col>
      <ion-icon size="large" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="5">Golf Day</ion-col>
      <ion-col size="5">
        10:00 - 17:00
      </ion-col>
    </ion-row>
    <ion-row class="event">
      <ion-col>
      <ion-icon size="large" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="5">Charity Drive</ion-col>
      <ion-col size="5">
        11:11 - 17:00
      </ion-col>
    </ion-row>
    <ion-row class="event">
      <ion-col>
      <ion-icon size="large" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="5">Blues Concert</ion-col>
      <ion-col size="5">
        16:30 - 21:00
      </ion-col>
    </ion-row>
    <ion-row class="event">
      <ion-col>
      <ion-icon size="large" name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="5">Night Market</ion-col>
      <ion-col size="5">
        17:30 - 22:00
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
