<ion-header>
  <ion-toolbar>
    <ion-title> Sign Up </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register_page">
  <div class="logo_img">
    <img src="assets/img/index-removebg-preview.png" />
  </div>
  <form class="register_form">
    <ion-input placeholder="First Name" class="input_form"></ion-input>
    <br />
    <ion-input placeholder="Last Name" class="input_form"></ion-input>
    <br />
    <ion-input placeholder="Email" class="input_form"></ion-input>
    <br />
    <ion-input
      placeholder="Password"
      type="password"
      class="input_form"
    ></ion-input>
    <br />
    <ion-input
      placeholder="Confirm Password"
      type="password"
      class="input_form"
    ></ion-input>
    <br />
    <div class="register_btn">
      <ion-button>Register</ion-button>
    </div>
  </form>

  <div class="label_descr">
    <ion-label
      >You are registering with nomadicways travel.Already have an account?<b
        > Log In</b
      ></ion-label
    >
  </div>

  <ion-col size="12">
    <div class="footer">
      <span>Powered by</span>
      <img src="assets/img/logo.png" width="50px" />
    </div>
  </ion-col>
</ion-content>
