ion-toolbar {
  --ion-background-color: #174060;
  --color: white;
}


.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 155px;
  border-radius: 10px;
}

img {
  object-fit: cover;
  width: 150px;
  height: 120px;
}

.title {
  font-size: 0.8rem;
}
