<div class="relative">
  <ion-img [src]="profile?.image200Url" class="banner"></ion-img>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    ><ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="goTo(profile?.uniqueId)">
        <ion-icon name="alert-circle"> </ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start" *ngIf="(userQuery.isGuest | async) === false">
      <ion-fab-button color="primary" (click)="membership(profile)">
        <ion-icon
          name="heart"
          [color]="profile?.canLeave === 'true' ? 'danger' : 'white'"
        ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
<ion-toolbar color="primary">
  <ion-label class="ion-text-wrap font-bold">
    <h6 class="ion-text-center">
      {{ profile?.title ?? profile?.subject }}
    </h6>
  </ion-label>
</ion-toolbar>
