<div class="relative">
  <ion-img
    [src]="profile?.image200Url ?? profile?.publishedByImageUrl"
    class="banner"
  ></ion-img>
  <ion-toolbar class="banner absolute bottom-1.5">
    <ion-buttons slot="start">
      <ion-button color="white">
        <ion-icon slot="icon-only" name="alert-circle-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="white" (click)="share()">
        <ion-icon slot="icon-only" name="share-social-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
<ion-toolbar color="primary">
  <ion-label class="ion-text-wrap font-bold">
    <h6 class="ion-text-center">
      {{ profile?.title ?? profile?.subject }}
    </h6>
  </ion-label>
</ion-toolbar>
